body {
    color: #313131;
}
.iconfont::before {
    font-size: 24px;
    vertical-align: middle;
}
a:link,
a:visited {
    color: #313131;
}

.markdown-body a:link,
.markdown-body a:visited {
    color: #4078c0;
}
